<section class="grid min-h-screen w-full bg-cover bg-center bg-no-repeat bg-[url('https://v3.material-tailwind.com/dark-bg-pattern.jpg')]">
  <div class="container mx-auto flex flex-col justify-center">
    <div class="my-auto text-center">
      <h2 class="font-sans antialiased font-bold text-2xl md:text-3xl lg:text-4xl text-slate-200">Get Ready for Something Amazing!</h2>
      <p class="font-sans antialiased text-base md:text-lg text-slate-200 mb-10 mt-4 max-w-3xl [text-wrap:_balance] mx-auto">We&#x27;re excited to introduce our latest innovation that will change the way you develop. Stay tuned as we put the finishing touches on this game-changing product.</p>
      <p class="font-sans antialiased text-base md:text-lg text-slate-200 font-semibold">Sign up now to be the first to know when we launch</p>
      <div class="flex flex-col sm:flex-row max-w-md w-full gap-x-2 gap-y-4 mt-4 mx-auto">
        <div class="relative w-full aria-disabled:cursor-not-allowed data-[shape=pill]:rounded-full text-base rounded-lg" data-shape="default">
          <input id="email" placeholder="someone@example.com" class="h-full w-full outline-none rounded-[inherit] leading-[inherit] focus:outline-none dark:text-white bg-transparent ring-transparent border border-slate-200 transition-all duration-300 ease-in disabled:opacity-50 disabled:pointer-events-none data-[error=true]:border-error data-[success=true]:border-success select-none data-[shape=pill]:rounded-full py-3 px-3 ring-4 shadow-sm data-[icon-placement=start]:ps-11 data-[icon-placement=end]:pe-11 hover:border-slate-500 hover:ring-secondary/10 focus:border-secondary focus:ring-secondary/10 placeholder:text-white/60 text-white peer" type="email" data-error="false" data-success="false" data-shape="default" data-icon-placement="" />
        </div>
        <button class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-base rounded-md py-2.5 px-5 shadow-sm hover:shadow-lg bg-orange-500 border-orange-500 text-slate-50 hover:bg-orange-500 hover:border-orange-500 shrink-0" data-shape="default" data-width="default">Notify Me</button>
      </div>
    </div>
    <small class="font-sans antialiased text-sm text-slate-200 mb-20 font-medium self-center text-center">All rights reserved. Copyright © 2024 Material Tailwind</small>
  </div>
</section>