<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" href="images/favicon.svg" type="image/x-icon">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8efb521c4f3de6af4d07dce98/ef4444b130be934b0f020fe6f.js");</script>
