    {{ with $services := site.GetPage "section" "services" }}
      <h3>{{ .LinkTitle }}</h3>
      {{ .Content }}
      <div id="services-wrapper" class="services-wrapper">
      {{ range $services.Pages }}
        
      <details class="m-2 p-2 border w-full max-w-fit box-style">
          <summary class="pr-0.5 border border-gray-800 text-sm box-style">{{ .Title }}</summary>
          <div class="bg-rose-50 p-0.5 box-style">{{ .Content }}</div>
          
        </details>
      {{ end }}
      </div>
  {{ end }}