<div class="bg-french-rose dark:bg-muted-clay-800 shadow-french-rose shadow-md p-4 rounded-lg">
  <h3 id="about" class="bg-radial from-0% from-green-600 to-transparent mb-4 pb-2 border-muted-clay border-b-2 font-heading font-bold text-deep-ink dark:text-white text-xl">About Paul Brown, CMT</h3>
  <div class="bg-base-200 p-4 box-style" >
    <img src="/images/author-photo.png" class="author-pic" alt="Paul Brown" >
    <p class="">Paul Brown is a Certified Massage Therapist in Sacramento, CA, with a passion for helping people live better, more pain-free lives.</p>
    <button class="text-gray-50 btn-gradient-info" href="/about">Read More...</button>
  </div>
</div>