<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-green-900 p-2">
<div id="page-wrapper" class="bg-gray-100 dark:prose-invert mx-auto p-3 max-w-l prose box-style">

  {{ partial "top-bar.html" . }}
  {{ partial "header.html" . }}
  <div id="content-wrapper" class="flex md:flex-row md:flex-nowrap gap-4">
  <main class="w-[65%]">
    {{ block "main" . }}{{ end }}
  </main>
  <aside class="w-[35%]">
    {{partial "sidebar.html" . }}
  </aside>
  </div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</div>
</body>
</html>
